body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

nav {
    width: 100%;
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightblue;
}
h2 {
    text-decoration: underline;
}

pre {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
